{
  "root": true,
  "parser": "vue-eslint-parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser"
  },
  "extends": [
    "plugin:vue/strongly-recommended",
    "eslint:recommended",
    "@vue/typescript/recommended",
    "prettier"
  ],
  "plugins": ["@typescript-eslint", "prettier"],
  "rules": {
    "prettier/prettier": "error",

    "vue/component-tags-order": [
      "error",
      {
        "order": ["script", "template", "style"]
      }
    ],
    "vue/singleline-html-element-content-newline": "off",
    "vue/no-multiple-template-root": "off",
    "vue/no-v-html": "off",
    "vue/html-self-closing": [
      "error",
      {
        "html": {
          "void": "always",
          "normal": "always",
          "component": "always"
        },
        "svg": "always",
        "math": "always"
      }
    ],
    "vue/v-on-handler-style": ["error", "inline"],
    "vue/no-unused-properties": "error"
  }
}
